.header{
    position: sticky;
    top: 0;
    margin-top: -8px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c5c4c4;
}

iframe{
    bottom: 0 !important;
}

iframe[title^="Button to launch messaging window, conversation in progress"]{
    transform: scale(0.6) !important
}